In [1]:
import requests
import bs4
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import os
from webdriver_manager.chrome import ChromeDriverManager
import time

### Data Analyst

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

max_page = 670

jobs11 = []
companies11 = []
locations11 = []
summaries11 = []
post_dates11 = []

for start in range(0, max_page, 10):
    indeed_url = 'http://www.indeed.com/jobs?q=data%20analyst&l=California&start=' + str(start)
    browser.visit(indeed_url)
    time.sleep(5)  
    html = browser.html
    soup = bs(html, "html.parser")
    print(indeed_url)  
    
    #grabbing job title
    #for div in soup.find_all(name='div', attrs={'class':'job_seen_beacon'}):
    for td in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div in td.find_all(name='div', attrs={'class':'heading4 color-text-primary singleLineTitle tapItem-gutter'}):
            for span in div.find_all(name='span'):
                if span.text.strip() != 'new':
                    jobs11.append(span.text.strip())  

    #grabbing company name
    for td2 in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div2 in td2.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for span2 in div2.find_all(name='span', attrs={'class':'companyName'}):
                companies11.append(span2.text.strip())      

    #grabbing location
    for td3 in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div3 in td3.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for div4 in div3.find_all(name='div'):
                locations11.append(div4.text.strip())   

    #grabbing summary text
    divs = soup.findAll('div', attrs={'class': 'job-snippet'})
    for div5 in divs:
        summaries11.append(div5.text.strip())
        
    #grabbing posting date
    for div2 in soup.find_all(name='div', attrs={'class':'heading6 tapItem-gutter result-footer'}):
        for span1 in div2.find_all(name='span', attrs={'class':'date'}):
            post_dates11.append(span1.text.strip())

browser.quit()

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\SC\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

http://www.indeed.com/jobs?q=data%20analyst&l=California&start=0
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=10
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=20
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=30
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=40
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=50
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=60
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=70
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=80
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=90
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=100
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=110
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=120
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=130
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=140
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=150
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=160
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=170
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=180
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=190
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=200
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=210
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=220
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=230
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=240
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=250
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=260
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=270
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=280
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=290
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=300
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=310
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=320
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=330
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=340
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=350
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=360
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=370
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=380
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=390
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=400
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=410
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=420
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=430
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=440
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=450
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=460
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=470
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=480
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=490
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=500
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=510
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=520
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=530
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=540
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=550
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=560
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=570
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=580
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=590
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=600
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=610
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=620
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=630
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=640
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=650
http://www.indeed.com/jobs?q=data%20analyst&l=California&start=660

In [3]:
summaries11_noreturn = [word.replace('\n',' ') for word in summaries11]

In [4]:
job_list_analyst_df = pd.DataFrame(list(zip(jobs11, companies11, locations11, summaries11_noreturn, post_dates11)),
               columns = ['job_title', 'company_name', 'location', 'summary', 'posted'])
job_list_analyst_df

,job_title,company_name,location,summary,posted
0,Jr. Data Analyst,AxleHire,"San Leandro, CA",1+ years of data analytics experience. Work wi...,Today
1,Data Analyst - YouTube,Webhelp Americas,"San Bruno, CA•Temporarily Remote",Strong grasp on data structure and data integr...,Active 8 days ago
2,Consumer Insight Analyst,"Disney Parks, Experiences and Products","Anaheim, CA",Put Your Skills to the Test – Analyze data to ...,30+ days ago
3,Data Analyst/Data Engineer,MT Global US INC,"Foster City, CA 94404","\* Owner of the core company data pipeline, re...",Active 2 days ago
4,Entry Level Data Analyst,FieldLevel,California•Remote,As an entry level data analyst you'll get hand...,30+ days ago
...,...,...,...,...,...
999,"Marketing Data Analyst, Assistant Vice President",Union Bank,"Irvine, CA",Extensive experience with data research and an...,14 days ago
1000,Operations Data Analyst,SP Plus Corporation,"San Francisco, CA 94128",3-5 years of experience in a business/data ana...,14 days ago
1001,Financial Analyst Assistant - Logistics Company,Wollborg Michelson Recruiting,"Irvine, CA•Temporarily Remote",Ability to analyze data and interpret inconsis...,Active 9 days ago
1002,Senior Product Analyst (Contract-to-Hire) - En...,Harnham,"Los Angeles, CA•Temporarily Remote",Understanding of statistical or data science c...,28 days ago
1003,Senior Business Analyst,San Diego County Credit Union,"San Diego, CA 92121 (Sorrento Valley area)",MINIMUM EDUCATION AND EXPERIENCE REQUIREMENTS:...,30+ days ago

In [5]:
job_list_analyst_df['job_search'] = pd.Series(["data analyst" for x in range(len(job_list_analyst_df.index))])

In [6]:
job_list_analyst_df

,job_title,company_name,location,summary,posted,job_search
0,Jr. Data Analyst,AxleHire,"San Leandro, CA",1+ years of data analytics experience. Work wi...,Today,data analyst
1,Data Analyst - YouTube,Webhelp Americas,"San Bruno, CA•Temporarily Remote",Strong grasp on data structure and data integr...,Active 8 days ago,data analyst
2,Consumer Insight Analyst,"Disney Parks, Experiences and Products","Anaheim, CA",Put Your Skills to the Test – Analyze data to ...,30+ days ago,data analyst
3,Data Analyst/Data Engineer,MT Global US INC,"Foster City, CA 94404","\* Owner of the core company data pipeline, re...",Active 2 days ago,data analyst
4,Entry Level Data Analyst,FieldLevel,California•Remote,As an entry level data analyst you'll get hand...,30+ days ago,data analyst
...,...,...,...,...,...,...
999,"Marketing Data Analyst, Assistant Vice President",Union Bank,"Irvine, CA",Extensive experience with data research and an...,14 days ago,data analyst
1000,Operations Data Analyst,SP Plus Corporation,"San Francisco, CA 94128",3-5 years of experience in a business/data ana...,14 days ago,data analyst
1001,Financial Analyst Assistant - Logistics Company,Wollborg Michelson Recruiting,"Irvine, CA•Temporarily Remote",Ability to analyze data and interpret inconsis...,Active 9 days ago,data analyst
1002,Senior Product Analyst (Contract-to-Hire) - En...,Harnham,"Los Angeles, CA•Temporarily Remote",Understanding of statistical or data science c...,28 days ago,data analyst
1003,Senior Business Analyst,San Diego County Credit Union,"San Diego, CA 92121 (Sorrento Valley area)",MINIMUM EDUCATION AND EXPERIENCE REQUIREMENTS:...,30+ days ago,data analyst

In [7]:
job_list_analyst_df.to_csv('dates_job_list_analyst.csv', index=False)

### Data Scientist

In [8]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

max_page = 710

jobs12 = []
companies12 = []
locations12 = []
summaries12 = []
post_dates12 = []

for start in range(0, max_page, 10):
    indeed_url2 = 'http://www.indeed.com/jobs?q=data%20scientist&l=California&start=' + str(start)
    browser.visit(indeed_url2)
    time.sleep(5)  
    html = browser.html
    soup = bs(html, "html.parser")
    print(indeed_url2)  
    
    #grabbing job title
    #for div in soup.find_all(name='div', attrs={'class':'job_seen_beacon'}):
    for td in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div in td.find_all(name='div', attrs={'class':'heading4 color-text-primary singleLineTitle tapItem-gutter'}):
            for span in div.find_all(name='span'):
                if span.text.strip() != 'new':
                    jobs12.append(span.text.strip())  

    #grabbing company name
    for td2 in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div2 in td2.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for span2 in div2.find_all(name='span', attrs={'class':'companyName'}):
                companies12.append(span2.text.strip())      

    #grabbing location
    for td3 in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div3 in td3.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for div4 in div3.find_all(name='div'):
                locations12.append(div4.text.strip())   

    #grabbing summary text
    divs = soup.findAll('div', attrs={'class': 'job-snippet'})
    for div5 in divs:
        summaries12.append(div5.text.strip())
        
    #grabbing posting date
    for div2 in soup.find_all(name='div', attrs={'class':'heading6 tapItem-gutter result-footer'}):
        for span1 in div2.find_all(name='span', attrs={'class':'date'}):
            post_dates12.append(span1.text.strip())

browser.quit()

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\SC\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

http://www.indeed.com/jobs?q=data%20scientist&l=California&start=0
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=10
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=20
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=30
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=40
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=50
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=60
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=70
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=80
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=90
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=100
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=110
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=120
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=130
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=140
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=150
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=160
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=170
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=180
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=190
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=200
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=210
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=220
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=230
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=240
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=250
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=260
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=270
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=280
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=290
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=300
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=310
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=320
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=330
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=340
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=350
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=360
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=370
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=380
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=390
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=400
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=410
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=420
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=430
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=440
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=450
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=460
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=470
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=480
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=490
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=500
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=510
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=520
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=530
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=540
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=550
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=560
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=570
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=580
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=590
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=600
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=610
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=620
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=630
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=640
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=650
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=660
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=670
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=680
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=690
http://www.indeed.com/jobs?q=data%20scientist&l=California&start=700

In [9]:
summaries12_noreturn = [word.replace('\n',' ') for word in summaries12]

In [10]:
job_list_sci_df = pd.DataFrame(list(zip(jobs12, companies12, locations12, summaries12_noreturn, post_dates12)),
               columns = ['job_title', 'company_name', 'location', 'summary', 'posted'])
job_list_sci_df

,job_title,company_name,location,summary,posted
0,Data Scientist,Vertisystem,"Menlo Park, CA 94025",Audience insights: deep dive on specific segme...,Active 12 days ago
1,Data Scientist – Deep Learning,Bosch Group,"Sunnyvale, CA 94085 (East Murphy area)",Execute complex machine learning and deep lear...,1 day ago
2,Data Scientist,Doorstead,"San Francisco, CA•Remote","Experience with data visualization tools, such...",2 days ago
3,Data Scientist,Skan,"San Jose, CA•Remote","Experiment against data points, provide insigh...",14 days ago
4,Data Scientist,Universal Orlando,"Hollywood, CA",How to pull data from numerous sources and lev...,2 days ago
...,...,...,...,...,...
1051,Patent Agent / Patent Engineer / Software AI C...,IPRecruiter Group,"San Jose, CA 95132 (Berryessa area)+1 location...","Relevant Terms: patent law, patent prosecution...",4 days ago
1052,Technical Sr Data Analyst,Ursus,"Rancho Cordova, CA 95670•Remote","Five years of experience in study design, data...",25 days ago
1053,Sr. Data Analyst,MATRIX Resources,"San Francisco, CA 94111 (Financial District area)","The individual builds use cases, business requ...",30+ days ago
1054,Sr. Jupyter Machine Learning Software Engineer...,Entegee,"San Diego, CA",Develop highly complex Machine Learning (ML) D...,30+ days ago
1055,Data Science Delivery Leader (Manager/Director...,BLEND360,United States,"We evaluate different sources of data, discove...",14 days ago

In [11]:
job_list_sci_df['job_search'] = pd.Series(["data scientist" for y in range(len(job_list_sci_df.index))])

In [12]:
job_list_sci_df

,job_title,company_name,location,summary,posted,job_search
0,Data Scientist,Vertisystem,"Menlo Park, CA 94025",Audience insights: deep dive on specific segme...,Active 12 days ago,data scientist
1,Data Scientist – Deep Learning,Bosch Group,"Sunnyvale, CA 94085 (East Murphy area)",Execute complex machine learning and deep lear...,1 day ago,data scientist
2,Data Scientist,Doorstead,"San Francisco, CA•Remote","Experience with data visualization tools, such...",2 days ago,data scientist
3,Data Scientist,Skan,"San Jose, CA•Remote","Experiment against data points, provide insigh...",14 days ago,data scientist
4,Data Scientist,Universal Orlando,"Hollywood, CA",How to pull data from numerous sources and lev...,2 days ago,data scientist
...,...,...,...,...,...,...
1051,Patent Agent / Patent Engineer / Software AI C...,IPRecruiter Group,"San Jose, CA 95132 (Berryessa area)+1 location...","Relevant Terms: patent law, patent prosecution...",4 days ago,data scientist
1052,Technical Sr Data Analyst,Ursus,"Rancho Cordova, CA 95670•Remote","Five years of experience in study design, data...",25 days ago,data scientist
1053,Sr. Data Analyst,MATRIX Resources,"San Francisco, CA 94111 (Financial District area)","The individual builds use cases, business requ...",30+ days ago,data scientist
1054,Sr. Jupyter Machine Learning Software Engineer...,Entegee,"San Diego, CA",Develop highly complex Machine Learning (ML) D...,30+ days ago,data scientist
1055,Data Science Delivery Leader (Manager/Director...,BLEND360,United States,"We evaluate different sources of data, discove...",14 days ago,data scientist

In [13]:
job_list_sci_df.to_csv('dates_job_list_sci.csv', index=False)

### Data Engineer

In [14]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

max_page = 340

jobs14 = []
companies14 = []
locations14 = []
summaries14 = []
post_dates14 = []

for start in range(0, max_page, 10):
    indeed_url3 = 'http://www.indeed.com/jobs?q=data%20engineer&l=California&start=' + str(start)
    browser.visit(indeed_url3)
    time.sleep(5)  
    html = browser.html
    soup = bs(html, "html.parser")
    print(indeed_url3)  
    
    #grabbing job title
    #for div in soup.find_all(name='div', attrs={'class':'job_seen_beacon'}):
    for td in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div in td.find_all(name='div', attrs={'class':'heading4 color-text-primary singleLineTitle tapItem-gutter'}):
            for span in div.find_all(name='span'):
                if span.text.strip() != 'new':
                    jobs14.append(span.text.strip())  

    #grabbing company name
    for td2 in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div2 in td2.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for span2 in div2.find_all(name='span', attrs={'class':'companyName'}):
                companies14.append(span2.text.strip())      

    #grabbing location
    for td3 in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div3 in td3.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for div4 in div3.find_all(name='div'):
                locations14.append(div4.text.strip())   

    #grabbing summary text
    divs = soup.findAll('div', attrs={'class': 'job-snippet'})
    for div5 in divs:
        summaries14.append(div5.text.strip())
        
    #grabbing posting date
    for div2 in soup.find_all(name='div', attrs={'class':'heading6 tapItem-gutter result-footer'}):
        for span1 in div2.find_all(name='span', attrs={'class':'date'}):
            post_dates14.append(span1.text.strip())

browser.quit()

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\SC\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

http://www.indeed.com/jobs?q=data%20engineer&l=California&start=0
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=10
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=20
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=30
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=40
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=50
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=60
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=70
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=80
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=90
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=100
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=110
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=120
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=130
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=140
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=150
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=160
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=170
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=180
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=190
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=200
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=210
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=220
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=230
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=240
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=250
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=260
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=270
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=280
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=290
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=300
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=310
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=320
http://www.indeed.com/jobs?q=data%20engineer&l=California&start=330

In [15]:
summaries14_noreturn = [word.replace('\n',' ') for word in summaries14]

In [16]:
job_list_eng_df = pd.DataFrame(list(zip(jobs14, companies14, locations14, summaries14_noreturn, post_dates14)),
               columns = ['job_title', 'company_name', 'location', 'summary', 'posted'])
job_list_eng_df

,job_title,company_name,location,summary,posted
0,Data Engineer,Scripps Health,"San Diego, CA 92121 (Sorrento Valley area)•Remote",Strong data analytical and data model creation...,Today
1,"Data Engineer, Cell Engineering",Tesla,"Fremont, CA+6 locations",Acquire data from primary or secondary data so...,Today
2,"Data Engineer, Users and Products",Google,"Mountain View, CA+2 locations",Experience designing data models and data ware...,30+ days ago
3,Data Engineer,Volta Charging,"San Francisco, CA",You’ll own writing new data pipelines for inco...,2 days ago
4,Data Engineer (Full Time) United States,Cisco Systems,"San Jose, CA+2 locations",Analyze structural requirements for data stora...,18 days ago
...,...,...,...,...,...
505,Data Engineer,Central Coast Agriculture,"Lompoc, CA 93436",Identify and/or develop software for data mini...,30+ days ago
506,Data Engineer I,BioMarin Pharmaceutical Inc.,"Novato, CA 94949",Support routine requests for data mining and c...,11 days ago
507,Sr Data Engineer,LendingClub,"San Francisco, CA+1 location","Experience with data pipeline, data analytics,...",16 days ago
508,"Data Engineer, Platform",TRM Labs Inc.,California•Remote,Working cross-functionally with data scientist...,30+ days ago
509,Senior Data Engineer,Moveworks,"Mountain View, CA",Design solutions to improve data quality and d...,30+ days ago

In [17]:
job_list_eng_df['job_search'] = pd.Series(["data engineer" for z in range(len(job_list_eng_df.index))])

In [18]:
job_list_eng_df

,job_title,company_name,location,summary,posted,job_search
0,Data Engineer,Scripps Health,"San Diego, CA 92121 (Sorrento Valley area)•Remote",Strong data analytical and data model creation...,Today,data engineer
1,"Data Engineer, Cell Engineering",Tesla,"Fremont, CA+6 locations",Acquire data from primary or secondary data so...,Today,data engineer
2,"Data Engineer, Users and Products",Google,"Mountain View, CA+2 locations",Experience designing data models and data ware...,30+ days ago,data engineer
3,Data Engineer,Volta Charging,"San Francisco, CA",You’ll own writing new data pipelines for inco...,2 days ago,data engineer
4,Data Engineer (Full Time) United States,Cisco Systems,"San Jose, CA+2 locations",Analyze structural requirements for data stora...,18 days ago,data engineer
...,...,...,...,...,...,...
505,Data Engineer,Central Coast Agriculture,"Lompoc, CA 93436",Identify and/or develop software for data mini...,30+ days ago,data engineer
506,Data Engineer I,BioMarin Pharmaceutical Inc.,"Novato, CA 94949",Support routine requests for data mining and c...,11 days ago,data engineer
507,Sr Data Engineer,LendingClub,"San Francisco, CA+1 location","Experience with data pipeline, data analytics,...",16 days ago,data engineer
508,"Data Engineer, Platform",TRM Labs Inc.,California•Remote,Working cross-functionally with data scientist...,30+ days ago,data engineer
509,Senior Data Engineer,Moveworks,"Mountain View, CA",Design solutions to improve data quality and d...,30+ days ago,data engineer

In [19]:
job_list_eng_df.to_csv('dates_job_list_eng.csv', index=False)

### Full Jobs List

In [24]:
dates_job_list_all = [job_list_analyst_df, job_list_sci_df, job_list_eng_df]

In [25]:
dates_job_list_all_df = pd.concat(dates_job_list_all)

In [26]:
dates_job_list_all_df

,job_title,company_name,location,summary,posted,job_search
0,Jr. Data Analyst,AxleHire,"San Leandro, CA",1+ years of data analytics experience. Work wi...,Today,data analyst
1,Data Analyst - YouTube,Webhelp Americas,"San Bruno, CA•Temporarily Remote",Strong grasp on data structure and data integr...,Active 8 days ago,data analyst
2,Consumer Insight Analyst,"Disney Parks, Experiences and Products","Anaheim, CA",Put Your Skills to the Test – Analyze data to ...,30+ days ago,data analyst
3,Data Analyst/Data Engineer,MT Global US INC,"Foster City, CA 94404","\* Owner of the core company data pipeline, re...",Active 2 days ago,data analyst
4,Entry Level Data Analyst,FieldLevel,California•Remote,As an entry level data analyst you'll get hand...,30+ days ago,data analyst
...,...,...,...,...,...,...
505,Data Engineer,Central Coast Agriculture,"Lompoc, CA 93436",Identify and/or develop software for data mini...,30+ days ago,data engineer
506,Data Engineer I,BioMarin Pharmaceutical Inc.,"Novato, CA 94949",Support routine requests for data mining and c...,11 days ago,data engineer
507,Sr Data Engineer,LendingClub,"San Francisco, CA+1 location","Experience with data pipeline, data analytics,...",16 days ago,data engineer
508,"Data Engineer, Platform",TRM Labs Inc.,California•Remote,Working cross-functionally with data scientist...,30+ days ago,data engineer
509,Senior Data Engineer,Moveworks,"Mountain View, CA",Design solutions to improve data quality and d...,30+ days ago,data engineer

In [27]:
dates_job_list_all_df.to_csv('dates_job_list_all.csv', index=False)